<% side_block "Formatter help" do %>
  <p>
  <ul>
    <li class="collapsed" id="reference">
      <p>
        <strong>Your help here</strong><br />
        Put your formatter help here!
      </p>
    </li>
  </ul>
  </p>
  <p class="meta-link"><%= link_to 'show formatting reference', '#', :onclick => "$('reference').style.height = 'auto'; return false;" %></p>
<% end %>