<div id="badge">
  <img src="http://www.gravatar.com/avatar/<%= Wiki.anonymous_gravatar_id %>?s=60&d=identicon" />
  <span>(Anonymous)</span>
  <p>You're currently not logged in.</p>
  <p><%= link_to "Login now", login_path %> or <%= link_to 'Get an account', signup_path %></p>
</div>